/* colors corresponding to easywalker's blue and grey/gray */
$bg-blue: #95b1b9;
$bg-grey: #958f96;
$bg-gray: #958f96;
$circle-blue: #b4cad0;
$circle-grey: #706971;
$circle-gray: #706971;

@font-face {
  font-family: "Circular";
  src: local("Circular"), url(./fonts/CircularStd-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Circular";
  font-weight: bold;
  src: local("Circular"), url(./fonts/CircularStd-Bold.otf) format("opentype");
}

.App {
}

.slider-container {
  background-color: $bg-blue;
  height: 100vh;
  position: relative;
}

.arrows {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  top: 0;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  transform: rotate(180deg);
  z-index: 10;
  &:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 80, 0.05);
  }
  &.right {
    right: 0;
    transform: rotate(0deg);
  }
}

.inner {
  display: flex;
  .stroller-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
}

.stroller-name {
  /*height: 100vh;*/
  /*width: 100vw;*/
  margin-bottom: 14vw;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  z-index: 2;
  h1 {
    font-family: Circular;
    font-size: 18.75vw;
    font-weight: bold;
    letter-spacing: -0.05em;
    color: white;
  }
}

.stroller-subtitle1 {
  z-index: 2;
  position: absolute;
  left: 26vw;
  margin-top: 4vh;
  width: 100%;
  font-family: Circular;
  font-size: 1.4vw;
  letter-spacing: 0;
  color: white;
}

.stroller-subtitle2 {
  z-index: 2;
  position: absolute;
  left: 26vw;
  margin-top: 4vh;
  width: 100%;
  font-family: Circular;
  font-size: 1.4vw;
  letter-spacing: 0;
  color: white;
}

.strollers {
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 5;
}

.stroller1 {
  width: 34vw;
  position: absolute;
  left: 36vw;
}

.stroller2 {
  width: 34vw;
  position: absolute;
  left: 130vw;
}

.stroller-slide2 {
  position: absolute;
  bottom: 10%;
  width: 100%;
  left: 100vw;
}
