/* colors corresponding to easywalker's blue and grey/gray */
$bg-blue: #95B1B9;
$bg-grey: #958F96;
$bg-gray: #958F96;
$circle-blue: #B4CAD0;
$circle-grey: #706971;
$circle-gray: #706971;

@font-face {
  font-family: 'Circular';
  src: local('Circular'), url(./fonts/CircularStd-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Circular';
    font-weight: bold;
    src: local('Circular'), url(./fonts/CircularStd-Bold.otf) format('opentype');
}

.App {
}

.slider-container {
  background-color: $bg-blue;
  height: 100vh;
  position: relative;
}

.arrows {
  position: absolute;
  display: flex;
  /*width: 100px;*/
  align-items: center;
  justify-content: center;
  bottom: 0;
  top: 0;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  transform: rotate(180deg);
  &:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 80, 0.05);
  }
  &.right {
    right: 0;
    transform: rotate(0deg);
  }
}


.strollers {
  height: 100vh;
  display: flex;
  align-items: center;
}

.stroller1 {
  width: 30vw;
  position: absolute;
  left: 30vw;
}

.stroller2 {
  width: 30vw;
  position: absolute;
  left: 130vw;
}

.stroller-slide2 {
  position: absolute;
  bottom: 10%;
  width: 100%;
  left: 100vw;
}

