/* colors corresponding to easywalker's blue and grey/gray */
$bg-blue: #95B1B9;
$bg-grey: #958F96;
$bg-gray: #958F96;
$circle-blue: #B4CAD0;
$circle-grey: #706971;
$circle-gray: #706971;

@font-face {
  font-family: 'Circular';
  src: local('Circular'), url(./fonts/CircularStd-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Circular';
    font-weight: bold;
    src: local('Circular'), url(./fonts/CircularStd-Bold.otf) format('opentype');
}

.App {
}

